/* Custom properties */
:root {
    --font-heading: 'PT Sans', sans-serif;
    --font-paragraphs: 'Open Sans', sans-serif;
    --primary: #784d3c;
    --light: #e1e1e1;
    --white: #fff;
    --black: #000;
}

/* Global reset */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-paragraphs), sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globals **/

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.container_2 {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading), sans-serif;
    line-height: 1.2;
}

h1{font-size: 4.5rem;}
h2{font-size: 3.5rem;}
h3{font-size: 3rem;}
h4{font-size: 2.5rem;}

img{max-width: 100%;}

ul{list-style: none;}

/** Utilities **/

.no-margin {margin: 0;}
.no-padding {padding: 0;}
.center-text {text-align: center;}

/* Header */
header {
    height: 60rem;
    background-image: url(./img/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--white);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 3rem 0;
}

.top-bar h1 {font-weight: lighter;}
.top-bar span {font-weight: bold;}

/* Navigation */
.navigation {font-size: 1.9rem;}
.navigation a {padding-right: 3rem;}

.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13rem auto;
}

/* Main */
.blog {
    padding: 2rem 0;
}

.info-blog {
    margin-bottom: 4rem;
}

.text-blog {
    padding-bottom: 2rem;
}

/* Side Bar */
.sidebar {
    padding: 2rem 0;
}

.sidebar ul li {
    margin-bottom: 4rem;
    line-height: 6rem;
}

.titles-h3 {
    padding: 2rem 0 4rem 0;
}

.titles-h4 {
    padding: 1rem 0;
}

.button-blog {
    padding: 2.5rem;
    background-color: var(--black);
}

.button-sidebar {
    margin: 3rem auto;
    padding: 2.5rem;
    background-color: var(--primary);
}

/* Footer */
footer {
    background-color: var(--black);
}